html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.category-btn:hover {
  background-color: #FC1503 !important;
  color: white !important;
}

.category-btn:hover span{
  color: white !important;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.search-bar{
  border:none;
  outline:none;
  width:350px;
}

.category-btn{
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor:pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.form_box{
   width: 350px;
   height: 350px;
}

@media screen and (max-width: 900px) {
  .category-btn{
    margin: 10px;
  }
}

@media screen and (max-width:800px){
  .copyright{
    display:none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }
  .search-bar{
    width:200px;
  }
}

button:hover{
  cursor: pointer;
}

body{
   width: 100%;
   height: 100vh;
}

form input{
  text-transform: capitalize;
}

.form_box form input{
   width: 250px;
}

.form_box h4{
   margin-bottom: 5px;
}

.form_box form button{
  position: absolute;
  top: 150px ;
  left: 230px;
}

.profile_title{
   font-size: 24px;
}

.main_profile{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   gap: 1rem;
}

@media screen and (max-width: 500px) {
  .search-bar{
     width: 100px;
  }

  .Profile_img{
     width: 30px;
  }
  .heading-Profile{
     font-size: 16px;
  }
  .form_box{
     width: 250px;
     height: 250px;
  }

  .form_box form input{
     width: 200px;
  }

  .form_box h4{
     margin-bottom: 0px;
  }

  .form_box form button{
    position: absolute;
    top: 150px ;
    left: 180px;
  }

  .profile_title{
     font-size: 17px;
  }

  .main_profile{
     gap: 0.3rem;
  }

}